@import "https://fonts.googleapis.com/css?family=Cormorant:300i";
@import "https://fonts.googleapis.com/css?family=Roboto";

body, html {
    height: 100%;
}

.cover {
    background-image: url('images/cover.jpg');
    background-size: cover;
    height: 100%;
}

.title {
    width: 400px;
    height: 120px;
    background: #FFF;
    position: absolute;
    right: 0%;
    top: 50%;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    padding-left: 15px;
}

.ribbon {
    background: #ECEFE8;
    font-size: 12px;
    padding: 20px;
}

.ribbon-content {
    margin: auto;
    width: 90%;
    padding: 20px;
}

.about {
    background: #fff;
    font-size: 12px;
    padding: 20px;
}

.about-content {
    margin: auto;
    width: 90%;
    padding: 20px;
}

.card-title {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 18pt;
    color: #000;
    text-transform: uppercase;
}

.card-text {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
}

.testimonial {
    background: #EAE3DC;
    font-size: 12px;
    padding: 20px;
}

.testimonial-content {
    margin: auto;
    width: 90%;
    padding: 20px;
}

.testimonial-image {
    border-radius: 50%;
    width: 30%;
    float: left;
    padding: 10px;
}

.carousel {
    width: 70%;
    height: 40%;
    margin: auto;
}

.quote {
    padding: 100px;
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    background: #EAE3DC;
    font-size: 12px;
    padding: 20px;
}

.navigation-content {
    margin: auto;
    width: 90%;
    padding: 20px;
}


h1 {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 22pt;
    color: #000;
    text-transform: uppercase;
}

p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
}

.name {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 60pt;
    color: #000;
    text-transform: uppercase;
}
